services:
  stars_ros_exporter:
    build:
      context: ./python_bridge
      dockerfile: Exporter.Dockerfile
      args:
        - ENABLED_FLAG_DEV_MODE=${ENABLED_FLAG_DEV_MODE}
        - UID=${UID:-2000}
        - GID=${GID:-2000}
    image: stars_ros_exporter:latest
    restart: on-failure
    volumes:
      - stars-storage-receive:${STARS_STORAGE_VOLUME}
    environment:
      MAP_FILE_DIR: ${MAP_FILE_DIR}
      SIMULATION_STARS_STATIC_FILE_DIR: ${STARS_STATIC_FILE_DIR}
      SIMULATION_STARS_DYNAMIC_FILE_DIR: ${STARS_DYNAMIC_FILE_DIR}
      ENABLED_FLAG_DYNAMIC_DATA_LOGGING: ${ENABLED_FLAG_DYNAMIC_DATA_LOGGING}
      ENABLED_FLAG_STATIC_DATA_LOGGING: ${ENABLED_FLAG_STATIC_DATA_LOGGING}
    command: ros2 run stars_ros_exporter stars_ros_exporter

volumes:
  stars-storage-receive:
    name: stars-storage-receive
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./stars-storage
